<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
              <div class="offset-sm-3 offset-md-4 col-12 col-sm-6 col-md-4" style="text-align: center;">
                <h1>Find me on social media</h1>
                <fa-icon [href]="'https://www.facebook.com/Chadoulis'" target="_blank" style="color:#27304b;" [icon]="faFacebook" size="2x"></fa-icon>
                <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faYoutube" size="2x"></fa-icon>
                <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faTwitter" size="2x"></fa-icon>
                <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faLinkedin" size="2x"></fa-icon>
              </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="https://www.chadoulis.gr/">R.T.Chadoulis</a></p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                          <li><a routerLink="/">Home</a></li>
                          <li><a routerLink="/apoc">APOC</a></li>
                          <li><a routerLink="/networking">Networking</a></li>
                          <li><a routerLink="/contributors">Contributors</a></li>
                          <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
  </footer>
  <!-- <footer style="padding-top: 100px; padding-bottom: 50px;">
      <div class="footer-top">
        <div class="container">
          <hr>
          <div class="row">
            <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
              <h3><b>About us</b></h3>
              <p style="text-align: justify;">
                The AQUACYCLE project is implemented in the context of ENI CBC MED program (funded by the European Union)  belonging in the thematic area "Environmental protection, climate change adaptation and mitigation", under "Water efficiency". The consortium consists of 7 main partners from Greece, Malta, Spain, Lebanon, and Tunisia as well as 4 associated partners from France, Greece, Algeria and Morocco.
              </p>
              <p></p>
                  </div>
            <div class="col-md-3 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
              <h3><b>Links</b></h3>

                      <a style="color: indigo;" routerLink="/">Home</a><br>
                      <span style="color: indigo;" routerLink="/apoc">APOC</span><br>
                      <span style="color: indigo;" routerLink="/networking">Networking</span><br>
                      <span style="color: indigo;" routerLink="/contributors">Contributors</span><br>
                      <span style="color: indigo;" routerLink="/contact">Contact</span>


                  </div>
                  <div class="col-md-5 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="row">
                      <div class="col">
                        <h3><b>Links</b></h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p><a href="/about"><i class="fas fa-info-circle"> About </i> </a></p>
                        <p><a href="/learning-paths"><i class="fas fa-chalkboard-teacher"> Learning paths </i> </a></p>
                        <p><a href="/contributors"><i class="fas fa-graduation-cap"> Contributors </i> </a></p>
                        <p><a href="/citations"><i class="fas fa-book"> Bibliography </i> </a></p>
                        <p><a href="/quiz"><i class="fas fa-question-circle"> Quiz </i>  </a></p>
                      </div>-->
                      <!-- <div class="col">
                        <img style="width:100%" src="assets/images/en_aquacycle.svg">

                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row"> -->
               <!--<div class="col footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                  </div>-->
             <!-- </div>

        </div>
      </div>
    </footer> -->
