<div class="container" style="padding-bottom: 50px; padding-top: 50px;">
  <h1 style="text-align: center;">Publications</h1>
  <div class="row">
    <div class="col">
      <app-citations [acsBib]="bibliography"></app-citations>
    </div>
  </div>
  <hr>
  <h1 style="text-align: center;">Projects</h1><br>
  <div class="row">
    <div class="d-none d-md-block col-2">
      <img style="width:100%; text-align: right;" src="assets/images/medwaycap.jpg">
    </div>
    <div class="col">
      <h3>MEDWAYCAP | ENI CBC Med</h3>
      <h4>The MEDiterranean pathWAY for innovation CAPitalisation toward an
        urban-rural integrated development of non-conventional water resources</h4>
        <p>https://www.enicbcmed.eu/projects/aquacycle/</p>
        <p>01/01/2022 - 31/07/2022</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="d-none d-md-block col-2">
      <img style="width:100%" src="assets/images/eotist.png">
    </div>
    <div class="col">
      <h3>EOTIST</h3>
      <h4>Earth Observation Training in Science and Technology</h4>
      <p>https://www.enicbcmed.eu/projects/aquacycle/</p>
      <p>01/03/2021 - 31/07/2022</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="d-none d-md-block col-2">
      <img style="width:100%" src="assets/images/aquacycle.png">
    </div>
    <div class="col">
      <h3>AQUACYCLE | ENI CBC Med</h3>
      <h4>Towards Sustainable Treatment and Reuse of Wastewater in the Mediterranean Region</h4>
      <p>https://www.enicbcmed.eu/projects/aquacycle/</p>
      <p>01/05/2020 - 31/02/2021</p>
    </div>

  </div>
  <!-- <div class="section" data-anchor="skills" style="padding-top: 25px;">
        <div class="content">
            <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Φορείς</h1>
        </div>
    </div> -->
</div>
