body {
  padding: 50px;
}
.mini-graph-bars {
  background: #fff;
  position: relative;
  height: 100px;
  width: 140px;
}
.mini-graph-bars .bar {
  background-color: #FE5F55;
  width: 20px;
}
.mini-graph-bars .bar:nth-of-type(2) {
  left: 20px;
}
.mini-graph-bars .bar:nth-of-type(3) {
  left: 40px;
}
.mini-graph-bars .bar:nth-of-type(4) {
  left: 60px;
}
.mini-graph-bars .bar:nth-of-type(5) {
  left: 80px;
}
.mini-graph-bars .bar:nth-of-type(6) {
  left: 100px;
}
.mini-graph-bars .bar:nth-of-type(7) {
  left: 120px;
}
.mini-graph-bars .bar:nth-of-type(8) {
  left: 140px;
}
.mini-graph-bars .bar:nth-of-type(9) {
  left: 160px;
}
.mini-graph-bars .bar:nth-of-type(10) {
  left: 180px;
}
.mini-graph-bars .bar:nth-of-type(11) {
  left: 200px;
}
.mini-graph-bars .bar:nth-of-type(12) {
  left: 220px;
}
.mini-graph-bars .bar:nth-of-type(13) {
  left: 240px;
}
.mini-graph-bars .bar:nth-of-type(14) {
  left: 260px;
}
.mini-graph-bars .bar:nth-of-type(15) {
  left: 280px;
}
.mini-graph-bars .bar:nth-of-type(16) {
  left: 300px;
}
.mini-graph-bars .bar-inner {
  background-color: #FE5F55;
}
.mini-graph-bars .bar {
  position: absolute;
  bottom: 0;
  width: 15px;
}

ul {
  list-style-type: none;
}

.mini-graph-bars .bar:hover {
  background-color: #FFEFD5;
}

.numberCircle {
font-family: "OpenSans-Semibold", Arial, "Helvetica Neue", Helvetica, sans-serif;
display: inline-block;
color: #fff;
text-align: center;
line-height: 0px;
border-radius: 50%;
font-size: 12px;
min-width: 38px;
min-height: 38px;
}

.numberCircle span {
display: inline-block;
padding-top: 50%;
padding-bottom: 50%;
margin-left: 1px;
margin-right: 1px;
}

/* Some Back Ground Colors */
.clrGreen {
background: #51a529;
}
.clrRose {
background: #e6568b;
}
.clrOrange {
background: #ec8234;
}
.clrBlueciel {
background: #21adfc;
}
.clrMauve {
background: #7b5d99;
}
