.news-area.news-4-area .news-sidebar .news-sidebar-categories {
  border-top-color: #262626;
  }

  .news-area.news-4-area .news-sidebar .news-sidebar-categories .title {
  color: #fff;
  }

  .news-area.news-4-area .news-sidebar .news-sidebar-categories .item {
  border-bottom-color: #262626;
  }

  .news-area.news-4-area .news-sidebar .news-sidebar-categories .item span {
  color: #fff;
  }
