<div class="container" style="padding: 25px;">
  <h3 style="text-align: left; padding-bottom: 25px;">Education</h3>
  <div *ngFor="let element of elements" class="row">
    <div class="col-2">
      <img style="width:75%" src="assets/images/csd.png">
    </div>
    <div class="col-10">
      <p style="text-align: left;"><strong>PhD Candidate</strong></p>
      <p style="text-align: left;">Computer Science Department, Aristotle University of
        Thessaloniki</p>
      <p style="text-align: left;">2022-</p>
    </div>
  </div>
</div>
