
    <div class="timeline">
      <ul>
        <li>
          <div class="content">
            <!-- <h3>What is Lorem Ipsum?</h3> -->
            <img style="width: 100%" src="assets/images/1.jpg" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>Σεπτέμβριος 2006</h4>
          </div>
        </li>
        
        <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/3.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
              <h4>Σεπτέμβριος 2012</h4>
            </div>
          </li>

        <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/2.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
              <h4>Σεπτέμβριος 2015</h4>
            </div>
          </li>

          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/8.jpg" alt="">
              <p>Τον Ιούλιο του 2017 ολοκλήρωσα τη στρατιωτική μου θητεία ως Μετεωρολόγος-Παρατηρητής μετά από σχετική εκπαίδευση στην Εθνική Μετεωρολογική Υπηρεσία. </p>
            </div>
            <div class="time">
              <h4>Αύγουστος 2018</h4>
            </div>
          </li>

          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/7.jpg" alt="">
              <p>Τον Αύγουστο του 2018 ολοκλήρωσα την πτυχιακή μου εργασία με θέμα ”Determination of uncertainty in hourly and daily averages of solar irradiance due to missing measurements” την οποία και παρουσίασα στο 10th International Physics Conference of the Balkan Physical Union. Αυτή ήταν και η πρώτη επαφή μου με την επιστημονική έρευνα.</p>
            </div>
            <div class="time">
              <h4>Αύγουστος 2018</h4>
            </div>
          </li>


          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <iframe width="100%" height="245" src="https://www.youtube.com/embed/sr3QwwpMTpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="time">
              <h4>Αύγουστος 2018</h4>
            </div>
          </li>


          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/6.jpg" alt="">
              <p>Κατά τη διάρκεια μιας σειράς Εκπαιδευτικών Μαθημάτων της Συνεργατικής Συνεργασίας Erasmus Plus στον τομέα του Αθλητισμού "Good Governmentanve in sport" (GGS) (Αρ. αναφοράς 590305-EPP-1-2017-1-BG-SPO-SCP) που συντονίζει η Bulgarian Sports Αναπτυξιακός Σύνδεσμος, ήμουν υπεύθυνος για δύο συνεδρίες διάρκειας 2 ωρών με θέμα «Προσβασιμότητα της Αθλητικής Οργάνωσης σε διαδικτυακό περιβάλλον». Το πρώτο Training Course πραγματοποιήθηκε στο Sassari της Ιταλίας την περίοδο 29/05-03/06/2019. Το δεύτερο Training Course πραγματοποιήθηκε στη Βουδαπέστη της Ουγγαρίας την περίοδο 28/11-2/12/2019. </p>
            </div>
            <div class="time">
              <h4>Δεκέμβριος 2019</h4>
            </div>
          </li>

          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/4.jpg" alt="">
              <p>Το Μάιο του 2020 ξεκίνησα να εργάζομαι ως Βοηθός Έρευνας στο Ινστιτούτο Τηλεπικοινωνιών & Πληροφορικής του Εθνικού Κέντρου Έρευνας & Τεχνολογικής Ανάπτυξης</p>
            </div>
            <div class="time">
              <h4>Μάιος 2020</h4>
            </div>
          </li>




          <li>
            <div class="content">
              <!-- <h3>What is Lorem Ipsum?</h3> -->
              <img style="width: 100%" src="assets/images/5.jpg" alt="">
                <p>Το Νοέμβριο το 2021 ανέλαβα συντονιστής της Υποομάδας Ανοιχτής Διακυβέρνησης και Ανοιχτών Δεδομένων για τους Υδάτινους Πόρους του ΕΛΛΑΚ.</p>
            </div>
            <div class="time">
              <h4>Νοέμβριος 2021</h4>
            </div>
          </li>

      
        <div style="clear:both;"></div>
      </ul>
    </div>
