<div class="container" style="padding-top: 25px;">
    <div class="row">
        <div class="col-6">
            <iframe src="https://open.spotify.com/embed/episode/4XbV4uWH2lCMzajdD4dNNF?utm_source=generator&theme=0&t=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>  
        <div class="col-6">
            <iframe src="https://open.spotify.com/embed/episode/4XbV4uWH2lCMzajdD4dNNF?utm_source=generator&theme=0&t=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
</div>
