

          <div class="content">
              <div class="content-img">
                  <img src="assets/images/opinion.jpeg" alt="Body Building">
              </div>
              <div class="content-text">
                  <h2 class="content-title">Opinion</h2>
                  <h4 class="content-subtitle">Essays & Articles</h4>
                  <p class="content-paragraph">In this section you can find a series of articles and essays, either in Greek or in Engish, originally published in various digital media or newspapers.</p>
                  <a routerLink="opinion" class="btn">View More</a>
              </div>
          </div>



