    <!-- Page Breadcrumbs Start -->
    <section class="breadcrumbs-page-wrap" [style.height.px]="height" [style.background-position]= "position" [style.background-image]="'url('+ imgURL +')'" [style.background-size]="'cover'" [style.background-repeat]="'no-repeat'" [style.width.%]="'100'">
        <div class="bg-fixed pos-rel breadcrumbs-page">
            <div class="container">
                <!-- <div class="centered" style="padding-top: 80%;">
                    <p style="font-size: 20px;">Ρίζος-Θεόδωρος Χαδούλης <br> Υπ. Διδάκτωρας ΑΠΘ
                    </p>
                </div> -->
                <!--<nav aria-label="breadcrumb" class="breadcrumb-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Standard</li>
                    </ol>
                </nav>  -->
            </div>
        </div>
    </section>
    <!-- Page Breadcrumbs End -->

    