<!-- <div class="section" data-anchor="skills" style="padding-top: 25px;">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Για μένα</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 20px;">
                        Γεννήθηκα στις 5 Απριλίου 1991 στη
                        Λάρισα. Τελείωσα το 3ο Δημοτικό και το 5ο Γυμνάσιο Λάρισας. Το 2008 εκλέχθηκα πρόεδρος του
                        15-μελούς
                        συμβουλίου του 5ου ΓΕΛ Λάρισας από το οποίο αποφοίτησα το 2009 με βαθμό απολυτηρίου 19.8. Την
                        ίδια χρονιά
                        πέρασα στο τμήμα Φυσικής του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης με βαθμό πρόσβασης 19.284.
                        Κατά τα
                        φοιτητικά μου χρόνια ανέπτυξα συνδικαλιστική δράση διατελώντας μεταξύ άλλων Πρόεδρος του
                        Συλλόγου Φοιτητών
                        του Τμήματος Φυσικής και Υπεύθυνος Πόλης της ΔΑΠ-ΝΔΦΚ Θεσσαλονίκης. Τον Ιούλιο του 2017
                        ολοκλήρωσα τη
                        στρατιωτική μου θητεία ως Μετεωρολόγος-Παρατηρητής μετά από σχετική εκπαίδευση στην ΕΜΥ.
                        Πρόσφατα ολοκλήρωσα
                        την πτυχιακή μου εργασία με θέμα ”Determination of uncertainty in hourly and daily averages of
                        solar
                        irradiance due to missing measurements” την οποία και παρουσίασα στο 10th International Physics
                        Conference
                        of the Balkan Physical Union. Μιλάω Αγγλικά και Γερμανικά αλλά αγαπημένη μου γλώσσα είναι η
                        Python.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container" style="padding-top:100px; padding-left: 30px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-12 col-md-8" style="padding-bottom: 25px;">

            <div class="profile profile-smallimg">
                <div class="profile__image"><img src="assets/images/profile.jpg" alt="Doggo" /></div>
                <div class="profile__info">
                    <h3>Rizos Theodoros Chadoulis</h3>
                    <h5>PhD Candidate at AUTH, Research Assistant at CERTH</h5>
                    <!-- <fa-icon style="color:#27304b;" [icon]="faFacebook" size="2x"></fa-icon>
                    <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faYoutube" size="2x"></fa-icon>
                    <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faTwitter" size="2x"></fa-icon>
                    <fa-icon style="color:#27304b;padding-left: 20px;" [icon]="faLinkedin" size="2x"></fa-icon> -->
                    <!-- <a class="button" href="{{ partner[0].website }}" target="_blank">{{ partner[0].website }}</a> -->
                    <!-- <p class="profile__info__extra" style="font-size: 20px; line-height: 26px; text-align: justify;color: #3b4243; padding: 20px;  overflow: hidden" [innerHTML]="partner[0].description"></p> -->
                </div>
                <div class="container" style="padding: 25px;">
                    <h3 style="text-align: left; padding-bottom: 25px;">Education</h3>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/csd.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>PhD Candidate</strong></p>
                            <p  style="text-align: left;">Computer Science Department, Aristotle University of Thessaloniki</p>
                            <p  style="text-align: left;">2022-</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/physics.jpg">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>MSc, Environmental Physics</strong></p>
                            <p  style="text-align: left;">Physics Department, Aristotle University of Thessaloniki</p>
                            <p  style="text-align: left;">2021-2023</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/csd.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>MSc, Communication Networks and Systems Security</strong></p>
                            <p  style="text-align: left;">Computer Science Department, Aristotle University of Thessaloniki</p>
                            <p  style="text-align: left;">2020-2022</p>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/csd.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>MSc, Digital Media-Computational Intelligence
                                </strong></p>
                            <p  style="text-align: left;">Computer Science Department, Aristotle University of Thessaloniki</p>
                            <p  style="text-align: left;">2018-2020</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/physics.jpg">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Bachelor's degree, Physics</strong></p>
                            <p  style="text-align: left;">Physics Department, Aristotle University of Thessaloniki</p>
                            <p  style="text-align: left;">2009-2018</p>
                        </div>
                    </div>
                    <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Experience</h3>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/iti.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Research Assistant</strong></p>
                            <p  style="text-align: left;">Informatics and Telematics Institute, Centre for Research & Technology, Hellas</p>
                            <p  style="text-align: left;">May 2020-</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/ellak.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Coordinator of the Working Group on Open Government and Open Data for Water Resources</strong></p>
                            <p  style="text-align: left;">Open Technologies Alliance</p>
                            <p  style="text-align: left;">Nov 2021-</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/onned.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Executive Board Member</strong></p>
                            <p  style="text-align: left;">ONNED</p>
                            <p  style="text-align: left;">2019-2021</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/hnms.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Weather Observer</strong></p>
                            <p  style="text-align: left;">Hellenic National Meteorological Service</p>
                            <p  style="text-align: left;">2015-2016</p>
                        </div>
                    </div>
                    <!-- <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Honours & Awards</h3>

                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/elidek.jpg">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Fellowship</strong></p>
                            <p  style="text-align: left;">Hellenic Foundation for Research & Innovation</p>
                            <p  style="text-align: left;">Nov 2021-</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/gde.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Google Developer Expert in Angular</strong></p>
                            <p  style="text-align: left;">Google</p>
                            <p  style="text-align: left;">Nov 2021-</p>
                        </div>
                    </div> -->
                    <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Certificates</h3>

                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/cisco.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Cisco Certified Network Associate</strong></p>
                            <p  style="text-align: left;">Cisco</p>
                            <p  style="text-align: left;">Nov 2021-</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/camb.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Cambridge Proficiency English</strong></p>
                            <p  style="text-align: left;">Cisco</p>
                            <p  style="text-align: left;"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            <img style="width:75%" src="assets/images/goethe.png">
                        </div>
                        <div class="col-10">
                            <p style="text-align: left;"><strong>Mittlestufe</strong></p>
                            <p  style="text-align: left;">Goethe Institut</p>
                            <p  style="text-align: left;">Nov 2021-</p>
                        </div>
                    </div>
                    <!-- <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Software Expertise</h3>

                    <div class="row">
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/arcgis.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/qgis.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/ps.jpg">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/ai.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/xd.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/surfer.png">
                        </div>
                    </div>
                    <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Programming languages</h3>

                    <div class="row">
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/python.png">
                        </div>

                        <div class="col-1">
                            <img style="width:100%" src="assets/images/fortran.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/kotlin.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/csharp.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/matlab.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/javascript.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/ts.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/r.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/java.png">
                        </div>

                        <div class="col-1">
                            <img style="width:100%" src="assets/images/latex.png">
                        </div>
                    </div>

                    <h3 style="text-align: left; padding-bottom: 25px; padding-top: 25px;">Frameworks</h3>

                    <div class="row">
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/angular.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/node.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/django.png">
                        </div>
                        <div class="col-1">
                            <img style="width:100%" src="assets/images/xamarin.png">
                        </div>

                    </div> -->
                    <!-- <div class="row">
                        <div class="col" style="padding: 25px;"> -->
                            <!-- <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Έρευνα</h1> -->
                            <!-- <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">
                                Το 2018 αποφοίτησα από το τμήμα Φυσικής του ΑΠΘ. Συνέχισα τις σπουδές μου με την
                                ολοκλήρωση δύο μεταπτυχιακών προγραμμάτων σπουδών στο Τμήμα Πληροφορικής του
                                Αριστοτελείου Πανεπιστήμιο Θεσσαλονίκης. Το 2020 έλαβα το Μεταπτυχιακό Δίπλωμα
                                Ειδίκευσης με τίτλο ‘Ψηφιακά Μέσα-Υπολογιστική Νοημοσύνη’ και δύο χρόνια μετά το
                                Μεταπτυχιακό Δίπλωμα Ειδίκευσης με τίτλο ‘Δίκτυα Επικοινωνιών και Ασφάλεια Συστημάτων’.
                                Αυτό το διάστημα παρακολουθώ το ΜΠΣ Φυσική Περιβάλλοντος του Τμήματος Φυσικής του ΑΠΘ.
                                Είμαι κάτοχος CCNA (Cisco Certified Network Associate) και αυτό τον καιρό διαβάζω για το
                                CCNP (Cisco Certified Network Professional). Διαθέτω άριστη (C2) γνώση της αγγλικής και
                                πολύ καλή (C1) γνώση της γερμανικής γλώσσας.
                            </p>
                            <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">

                                Από τον Μάιο του 2020, εργάζομαι ως βοηθός έρευνας στο Ινστιτούτο Τεχνολογιών,
                                Πληροφορικής και Επικοινωνιών (Ι.Π.ΤΗΛ) του Εθνικού Κέντρου Έρευνας και Τεχνολογικής
                                Ανάπτυξης (Ε.Κ.Ε.Τ.Α.) και από το Νοέμβριο του 2021 είμαι Συντονιστής της Υποομάδας
                                Ανοιχτής Διακυβέρνησης και Ανοιχτών Δεδομένων για τους Υδάτινους Πόρους (ΑΔ2/νερό) του
                                ΕΛΛΑΚ.


                            <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">
                                Από τον Ιανουάριο του 2021 είμαι Υποψήφιος Διδάκτορας του Τμήματος Πληροφορικής του ΑΠΘ
                                με αντικείμενο την παρακολούθηση της βιοποικιλότητας με χρήση τεχνικών Εξηγήσιμης
                                Τεχνητής Νοημοσύνης.

                            </p>
                            <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">
                                Τα ερευνητικά μου ενδιαφέροντα περιλαμβάνουν τη Γεωφυσική, τnν Τηλεπισκόπηση, την
                                Επεξεργασία Σήματος, τη Θεωρία Γράφων, την Τεχνητή Νοημοσύνη και την Κυβερνοασφάλεια.

                            </p>
                            <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">
                                Στον ελεύθερό μου χρόνο ασχολούμαι ως ελεύθερος επαγγελματίας με το σχεδιασμό και την
                                ανάπτυξη ιστοσελίδων. Πιστεύω ότι το διαδίκτυο πρέπει να γίνει πιο προσβάσιμο για όλους.
                                Γι’ αυτό και προσπαθώ να αντιμετωπίζω κάθε εγχείρημα με την ενσυναίσθηση του UX/UI
                                designer. Στο παρελθόν, έχω προσφέρει τις υπηρεσίες μου και ως εκπαιδευτής ενηλίκων σε
                                ζητήματα προσβασιμότητας στο διαδίκτυο, σε μια σειρά από βιωματικά σεμινάρια στα πλαίσια
                                του Erasmus+.

                            </p>
                            <p class="wow fadeInDown" data-wow-delay="0.2s"
                                style="text-align: justify; line-height: 28px;">
                                Τέλος, παράλληλα με τις ακαδημαϊκές/επαγγελματικές μου ανησυχίες, με απασχολούσαν
                                ανέκαθεν τα κοινά και διεκδικούσα να έχω λόγο και ρόλο. Ως μαθητής διετέλεσα Πρόεδρος
                                του 15μελούς του σχολείου μου. Κατά τα φοιτητικά μου χρόνια, ανέπτυξα έντονη
                                συνδικαλιστική δράση, αποκορύφωμα της οποίας ήταν η εκλογή μου ως επικεφαλής της
                                ΔΑΠ-ΝΔΦΚ Θεσσαλονίκης το 2015. Στις 26 Οκτωβρίου 2019, με απόφαση του Προέδρου της ΟΝΝΕΔ
                                Παύλου Μαρινάκη, ανέλαβα Υπεύθυνος του Τομέα Νεανικής Επιχειρηματικότητας &
                                Καταπολέμησης της ανεργίας στο Εκτελεστικό Γραφείο της ΟΝΝΕΔ. Σήμερα, παραμένω ενεργό
                                μέλος της Νέας Δημοκρατίας και θερμός υποστηρικτής κάθε προσπάθειας να βγει επιτέλους η
                                πατρίδα μας από τα τέλματά της.

                            </p>
                        </div> -->
                    <!-- </div> -->
                </div>

            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="profile" style="padding: 25px">
            <h1 style="font-size: 20px;">Πρόσφατα άρθρα</h1>
            <app-blog-post-preview></app-blog-post-preview>
            <hr>
            <app-blog-post-preview></app-blog-post-preview>
            <hr>
            <!-- <h1 style="font-size: 20px;">Podcast</h1>
            <iframe src="https://open.spotify.com/embed/episode/4XbV4uWH2lCMzajdD4dNNF?utm_source=generator&theme=0&t=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            <hr> -->
            <h1 style="font-size: 20px;">Συνεντεύξεις</h1>
            <iframe class="rounded" style="padding-bottom: 25px;" width="100%" height="200" src="https://www.youtube.com/embed/sr3QwwpMTpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe class="rounded"  width="100%" height="250" src="https://www.youtube.com/embed/CutcWZWm3_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
        <!-- <div class="col-8">
            <p style="font-size: 20px; line-height: 26px; text-align: justify;color: #3b4243; padding: 20px;  overflow: hidden">{{ partner[0].description }}</p>

        </div> -->
    </div>
</div>



<!--
<div class="section" data-anchor="skills" style="padding-top: 25px;">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col"> -->
                    <!-- <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Έρευνα</h1> -->
                    <!-- <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">
                        Το 2018 αποφοίτησα από το τμήμα Φυσικής του ΑΠΘ. Συνέχισα τις σπουδές μου με την ολοκλήρωση δύο
                        μεταπτυχιακών προγραμμάτων σπουδών στο Τμήμα Πληροφορικής του Αριστοτελείου Πανεπιστήμιο
                        Θεσσαλονίκης. Το 2020 έλαβα το Μεταπτυχιακό Δίπλωμα Ειδίκευσης με τίτλο ‘Ψηφιακά
                        Μέσα-Υπολογιστική Νοημοσύνη’ και δύο χρόνια μετά το Μεταπτυχιακό Δίπλωμα Ειδίκευσης με τίτλο
                        ‘Δίκτυα Επικοινωνιών και Ασφάλεια Συστημάτων’. Αυτό το διάστημα παρακολουθώ το ΜΠΣ Φυσική
                        Περιβάλλοντος του Τμήματος Φυσικής του ΑΠΘ. Είμαι κάτοχος CCNA (Cisco Certified Network
                        Associate) και αυτό τον καιρό διαβάζω για το CCNP (Cisco Certified Network Professional).
                        Διαθέτω άριστη (C2) γνώση της αγγλικής και πολύ καλή (C1) γνώση της γερμανικής γλώσσας.
                    </p>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">

                        Από τον Μάιο του 2020, εργάζομαι ως βοηθός έρευνας στο Ινστιτούτο Τεχνολογιών, Πληροφορικής και
                        Επικοινωνιών (Ι.Π.ΤΗΛ) του Εθνικού Κέντρου Έρευνας και Τεχνολογικής Ανάπτυξης (Ε.Κ.Ε.Τ.Α.) και
                        από το Νοέμβριο του 2021 είμαι Συντονιστής της Υποομάδας Ανοιχτής Διακυβέρνησης και Ανοιχτών
                        Δεδομένων για τους Υδάτινους Πόρους (ΑΔ2/νερό) του ΕΛΛΑΚ.


                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">
                        Από τον Ιανουάριο του 2021 είμαι Υποψήφιος Διδάκτορας του Τμήματος Πληροφορικής του ΑΠΘ με
                        αντικείμενο την παρακολούθηση της βιοποικιλότητας με χρήση τεχνικών Εξηγήσιμης Τεχνητής
                        Νοημοσύνης.

                    </p>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">
                        Τα ερευνητικά μου ενδιαφέροντα περιλαμβάνουν τη Γεωφυσική, τnν Τηλεπισκόπηση, την Επεξεργασία
                        Σήματος, τη Θεωρία Γράφων, την Τεχνητή Νοημοσύνη και την Κυβερνοασφάλεια.

                    </p>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">
                        Στον ελεύθερό μου χρόνο ασχολούμαι ως ελεύθερος επαγγελματίας με το σχεδιασμό και την ανάπτυξη
                        ιστοσελίδων. Πιστεύω ότι το διαδίκτυο πρέπει να γίνει πιο προσβάσιμο για όλους. Γι’ αυτό και
                        προσπαθώ να αντιμετωπίζω κάθε εγχείρημα με την ενσυναίσθηση του UX/UI designer. Στο παρελθόν,
                        έχω προσφέρει τις υπηρεσίες μου και ως εκπαιδευτής ενηλίκων σε ζητήματα προσβασιμότητας στο
                        διαδίκτυο, σε μια σειρά από βιωματικά σεμινάρια στα πλαίσια του Erasmus+.

                    </p>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">
                        Τέλος, παράλληλα με τις ακαδημαϊκές/επαγγελματικές μου ανησυχίες, με απασχολούσαν ανέκαθεν τα
                        κοινά και διεκδικούσα να έχω λόγο και ρόλο. Ως μαθητής διετέλεσα Πρόεδρος του 15μελούς του
                        σχολείου μου. Κατά τα φοιτητικά μου χρόνια, ανέπτυξα έντονη συνδικαλιστική δράση, αποκορύφωμα
                        της οποίας ήταν η εκλογή μου ως επικεφαλής της ΔΑΠ-ΝΔΦΚ Θεσσαλονίκης το 2015. Στις 26 Οκτωβρίου
                        2019, με απόφαση του Προέδρου της ΟΝΝΕΔ Παύλου Μαρινάκη, ανέλαβα Υπεύθυνος του Τομέα Νεανικής
                        Επιχειρηματικότητας & Καταπολέμησης της ανεργίας στο Εκτελεστικό Γραφείο της ΟΝΝΕΔ. Σήμερα,
                        παραμένω ενεργό μέλος της Νέας Δημοκρατίας και θερμός υποστηρικτής κάθε προσπάθειας να βγει
                        επιτέλους η πατρίδα μας από τα τέλματά της.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--
<div class="section" data-anchor="skills" style="padding-top: 25px;">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Κοινά</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s" style="text-align: justify; line-height: 28px;">


                        Στις 26 Οκτωβρίου 2019, με απόφαση του Προέδρου της ΟΝΝΕΔ Παύλου Μαρινάκη, αναλαμβάνω Υπεύθυνος του Τομέα Νεανικής Επιχειρηματικότητας & Καταπολέμησης της ανεργίας στο Εκτελεστικό Γραφείο της ΟΝΝΕΔ. (μέχρι 26 Ιανουαρίου 2021)


                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--
<div class="section" data-anchor="skills" style="padding-top: 25px;">
    <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="color:#FF6363">Εμπειρία</h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s">Hi, I'm Naveen Jetty! I'm a Graduate Student & Software
            Developer!</p>

        <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #FF6363;"><span>JAVA</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #FF6363;"><span>PYTHON</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title" style="background: #FF6363;"><span>SQL</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

            <div class="skillbar clearfix " data-percent="45%">
                <div class="skillbar-title" style="background: #FF6363;"><span>JS</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">45%</div>
            </div>

            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title" style="background: #FF6363;"><span>HTML</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">30%</div>
            </div>

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title" style="background: #FF6363;"><span>CSS</span></div>
                <div class="skillbar-bar" style="background: #FF6363;"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
        </div>
    </div>
</div> -->
