<app-publications></app-publications>
<app-research-projects></app-research-projects>
<!-- <div class="container" style="padding-bottom: 50px; padding-top: 50px;">
  <h1 style="text-align: center;">Dissemination Articles</h1>
  <div class="row">
    <div class="col">
      <p  style="font-size: 20px; line-height: 28px;">[1] R.T.Chadoulis & I. Manakos. Copernicus Sentinel-2 data for canopy height estimation. ESA Sentinel Success Stories. (<a target="_blank" href="https://sentinels.copernicus.eu/web/success-stories/-/copernicus-sentinel-2-data-for-canopy-height-estimation/1.4">link</a>)</p>
      <p  style="font-size: 20px; line-height: 28px;">[2] R.T.Chadoulis & I. Manakos. ENI CBC Med. WebGIS as a decision support tool (<a target="_blank" href="http://www.enicbcmed.eu/aquacyle-launches-opinion-article-webgis-decision-support-tool">link</a>)</p>
      <p  style="font-size: 20px; line-height: 28px;">[3] ENI CBC Med. Launching the AQUACYCLE e-Training Platform - AQUACYCLE Newsletter </p>
      <p  style="font-size: 20px; line-height: 28px;">[4] CERTH - Newsletter. AQUACYCLE: Sustainable wastewater treatment and reuse in the Mediterranean region </p>

    </div>
  </div>
</div> -->
