

<div class="container " style="padding-top: 25px; padding-bottom: 25px;">
  <div class="row">
    <div class="col-lg-6 col-md-12 bbb">
      </div>
      <div class="col-lg-6 col-md-12 team-section-wrap-2" style="padding-bottom: 20px;">
     <app-contact-form></app-contact-form>
            <hr>
            <p  style="text-align: justify; padding:20px; font-size: 20px; line-height: 26px; color: #3b4243;"><strong>Besides submitting the form</strong> you can also contact us by sending an e-mail to <a
                href="mailto:wqems_dissemination@iti.gr">wqems_dissemination@iti.gr</a> or by giving us a call at <a
                href="tel:+302311257760">+30 2311 257760</a>.</p>
        </div>
      </div>
  </div>
  
  
  