<div class="text-center" style="padding-bottom:25px">
  <h2>Also <span>featured</span> in</h2>
  <!-- <p>A series of tutorials in front-end development with Angular and handling geospatial data with Python and R.</p> -->

</div>
<div class="content" style="padding-bottom: 50px">
<div class="container">
  <div class="row">
    <div class="col-6 col-md-3">
      <img style="width: 100%; " src="assets/images/dev.png" alt="Body Building">
    </div>
    <div class="col-6 col-md-3">
      <img style="width: 100%" src="assets/images/huff.png" alt="Body Building">
    </div>
    <div class="col-6 col-md-3">
      <img style="width: 100%" src="assets/images/nh.png" alt="Body Building">
    </div>
    <div class="col-6 col-md-3">
      <img style="width: 100%" src="assets/images/mak.png" alt="Body Building">
    </div>
  </div>
</div>

</div>

